<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dtdc" class="be.tc.beans.DTDC"/>
	<bean id="bDart" class="be.tc.beans.BlueDart"/>
	<bean id="fFlight" class="be.tc.beans.FirstFlight"/>
	
	<bean id="fpkt"  class="be.tc.beans.Flipkart">
	<property name="dtdc" ref="dtdc"/>
	</bean>
	
</beans>